.header {

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 114px;

    &-wrap {
      width: 1298px;
      margin: 0 auto;
    }

    &-logo {

      &-link, &-link h1 {
        text-align: left;
        font: Bold 35px/41px Roboto;
        letter-spacing: 0;
        color: #000000;
        opacity: 1;

        &:hover {
          text-decoration: none;
          cursor: pointer;
        }
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-top {
        align-self: flex-end;
      }

      &-bottom {
        align-self: flex-end;
      }
    }
  }
}