.main-menu {
  list-style: none;
  padding: 0;
  margin: 0;

  .menu-item {
    display: inline-block;
    padding: 20px 30px 24px;
    transition: all 0.3s ease 0s;

    a {
      font-family: $font-family-base;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0;
      color: #707070;
      transition: all 0.3s ease 0s;
    }

    &:hover {
      border-bottom: 6px solid #D70646;
      cursor: pointer;

      a {
        color: #000000;
        text-decoration: none;
      }
    }
  }

  .current-menu-item {
    border-bottom: 6px solid #D70646;

    a {
      font-family: $font-family-base;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0;
      color: #000000;
    }
  }

  .signin-cta {
    background: transparent;
    border: 2px solid #D70646;
    border-radius: 4px;
    padding: 15px 50px;

    a {
      font-family: $font-family-base;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 0;
      color: #D70646;
    }

    &:hover {
      border-bottom: 2px solid #D70646;
      cursor: pointer;
      background-color: #D70646;

      a {
        color: #ffffff;
      }
    }
  }
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    display: inline-block;
    padding: 0 10px;

    a {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0;
      color: #D70646;
      opacity: 1;
    }
  }
}

.slicknav {

  &_menu {
    display: none;

    @media (max-width: 481px) {
      display: block;
    }
  }

  &_icon-bar {
    transition: all 0.3s ease 0s;
  }

  &_open {

    .slicknav_icon-bar:first-child {
      -webkit-transform: rotate(-45deg) translate(-6px, 6px);
      transform: rotate(-45deg) translate(-6px, 6px);
    }

    .slicknav_icon-bar:nth-child(2) {
      opacity: 0;
    }

    .slicknav_icon-bar:last-child{
      -webkit-transform: rotate(45deg) translate(-4px, -4px);
      transform: rotate(45deg) translate(-4px, -4px);
    }
  }
}